<% current_user_attempts = [] %>
<% current_user_attempts = @survey.attempts.select {|attempt| attempt.participant_id == current_user.id} %>

<% correct_flag = true %>
<% current_user_attempts.last.answers.each do |answer| %>
    <% if answer.correct == false %>
        <% correct_flag = false %>
        <% break %>
    <% end %>
<% end %>

<div class="box">
    <div class="box-body no-padding">
        <div class="mailbox-read-info">
            <h2><center>Thank you for taking a quiz!</center></h2>
            <% if correct_flag == true %>
                <% current_user.add_points(25) %>
                <h3><center>Congrats! You answered all questions correctly!</center></h3>
                </br>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <center>You have been awarded 50 points!</center>
                    </div>
                    <%= javascript_include_tag 'points_alert' %>
            <% else %>
                <h4><center>I'm sorry, you did not answer all questions correctly, please try again!</center></h4>
            <% end %>
            <br>
            <%= link_to user_path(current_user) do %>
                <center><button type="button" class="btn btn-primary">Profile</button></center>
            <% end %>
        </div>
    </div>
</div>
<%#= "#{@survey.questions.size}  = this is the question size, not correct, always printing 3" %>
<%#= current_user_attempts.last.inspect %>
<%#= @survey.attempts.last.answers.inspect %>